.animation {
    @apply inline-block relative h-20 w-20;
}

.animation .item {
    @apply absolute top-8 w-3 h-3 rounded-full bg-black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.animation .item:nth-child(1) {
    left: 8px;
    animation: animation1 0.6s infinite;
}
.animation .item:nth-child(2) {
    left: 8px;
    animation: animation2 0.6s infinite;
}
.animation .item:nth-child(3) {
    left: 32px;
    animation: animation2 0.6s infinite;
}
.animation .item:nth-child(4) {
    left: 56px;
    animation: animation3 0.6s infinite;
}
@keyframes animation1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes animation3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes animation2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
  
